body{
    background-color: black;
}
#wrapper{
    margin: 0 auto;
    width: 1200px;
}
.trisslogo{
    text-align: center;
    width: 100%;
    border: thin solid yellow;
}
.gruppcell{
    height: 500px;
    width: 380px;
    float: left;
    margin-top: 20px;
    margin-right: 27px;
    border: thin solid orange;
}
.gruppcell h2{
    padding-top: 10px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.nr3{
    margin-right: 0px;
}